/* For more information on custom properties, please see:
 * https://ionicframework.com/docs/theming/css-variables
 */

:root {
  /* --- Custom App Colors --- */
  body {
    --ion-color-dark: #121212;
    --ion-color-dark-rgb: 18, 18, 18;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #101010;
    --ion-color-dark-tint: #2a2a2a;
    
    --ion-color-medium: #374151;
    --ion-color-medium-rgb: 55, 65, 81;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #303947;
    --ion-color-medium-tint: #4a5462;
    
    --ion-color-tertiary: #2dd4bf;
    --ion-color-tertiary-rgb: 45, 212, 191;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #28b9a7;
    --ion-color-tertiary-tint: #42d7c4;
    --ion-item-bgcolor: #1f2937;
    --ion-item-text-color: #ffffff;
  }
}
