<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <h1>{{ pageTitle() }}</h1>
      <p>{{ pageSubtitle() }}</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" class="ion-padding">
  @switch (vocabService.loadingState()) {
    @case ('loading') {
      <div class="state-container">
        <ion-spinner name="crescent" color="tertiary"></ion-spinner>
        <p>Loading Data...</p>
      </div>
    }
    @case ('error') {
      <div class="state-container">
        <ion-icon name="cloud-offline-outline"  class="offline-icon" color="danger"></ion-icon>
        <p>Could not load data.</p>
        <ion-button (click)="retry()" color="tertiary" fill="outline">
          <ion-icon name="refresh-outline" slot="start"></ion-icon>
          Retry
        </ion-button>
      </div>
    }
    @case ('ready') {
      <div class="controls-container" [class.justify-end]="deckType() === 'adverb'">
        <!-- Only show the chapter selector if it's not the adverb page -->
        @if (deckType() !== 'adverb') {
          <ion-item color="transparent" lines="none" class="chapter-select-item">
            <ion-select [value]="selectedChapter()" (ionChange)="onChapterChange($event)" interface="popover" 
                [interfaceOptions]="{ cssClass: 'chapter-popover' }">
                placeholder="Select Chapter">
              <ion-select-option value="all">すべて</ion-select-option>
              @for(chapter of chapters; track chapter) {
                <ion-select-option [value]="chapter">{{ chapter }}</ion-select-option>
              }
            </ion-select>
          </ion-item>
        }
        <ion-item color="transparent" lines="none" class="shuffle-toggle-item">
          <ion-label>Random</ion-label>
          <ion-toggle slot="end" color="tertiary" [checked]="shuffleEnabled()" (ionChange)="onShuffleToggle($event)"></ion-toggle>
        </ion-item>
      </div>
      <div class="content-wrapper">
        <app-flashcard [card]="currentCard()" [isFlipped]="isFlipped()" (cardClicked)="flipCard()"></app-flashcard>
      </div>
    }
  }
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-button expand="block" (click)="showPreviousCard()" [disabled]="currentIndex() === 0">Previous</ion-button>
        </ion-col>
        <ion-col size="auto" class="progress-counter-col">
          @if (shuffledCards.length > 0) {
            <span>{{ currentIndex() + 1 }} / {{ shuffledCards.length }}</span>
          } @else {
            <span>0 / 0</span>
          }
        </ion-col>
        <ion-col>
          <ion-button expand="block" (click)="showNextCard()" [disabled]="currentIndex() >= shuffledCards.length - 1">Next</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
